* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

body {
  background-color: #000;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  cursor: pointer;
}
